/* Grid Wrapper */

.grid-wrapper {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Set the height of the container to full viewport height */
}

/* Grid container */
.grid-container {
    cursor: crosshair;
    display: grid;
    grid-template-columns: repeat(64, 8px); /* Adjust the number of columns as needed */
    gap: 2px;
    user-select: none;
}

.grid-column {
    display: grid;
    gap: 2px;
}

/* Grid cell */
.grid-cell {
    width: 8px;
    height: 8px;
    background-color: rgb(73, 77, 82);;
}

/* Active cell */
.active-cell {
    background-color: rgb(160, 168, 177);; /* Adjust the background color for active cells as needed */
}

.prediction-text {
    color: beige;
    display: inline-block;
    align-items: center;
    width: 638px;
    text-align: center;
}

.clear-grid-button {
    color: black;
    width: 170px;
    margin-top: 30px;
    margin-left: 210px;
    text-align: center;
}